body{
    text-align: center;
}

.barcelona{
    background-color: rgb(180, 183, 223);
}

.realmadri{
    background-color: antiquewhite;
}

.flamengo{
    background-color: red;
}

.corinthias{
    background-color: rgb(65, 66, 73);
}

img{
    width: 600px;
}
